@import '../../base/base';
.flags-svg {
  margin-bottom: 50px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;
  }

  .flag-name {
    margin-top: 10px;
    letter-spacing: 1px;
  }
}