@import '../../base/base';
body.layout-dark {

  .flags-svg {
    margin-bottom: 50px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
    }

    .flag-name {
      margin-top: 10px;
      letter-spacing: 1px;
    }
  }

}