@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.progress {
    width: 67px !important;
    height: 11px !important;
    margin-top: 6px !important;
}
.custom-progress {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    animation: progress-stripes 2s linear infinite;
}

@keyframes progress-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1rem 0;
    }
}
.table {
    font-size: 13px;
    font-weight: bold;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 26px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 5px solid #9fa6b2;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}

/* Style DataTables pagination buttons to resemble Bootstrap-like pagination */

/* Pagination container */
.dt-paging {
    margin-top: 20px; /* Adjust margin as needed */
}

/* Pagination buttons */
.dt-paging-button {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #007bff;
}

/* Disabled pagination buttons */
.dt-paging-button.disabled {
    opacity: 0.65;
    pointer-events: none;
    cursor: default;
}

/* Active pagination button */
.dt-paging-button.current {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

/* Hover effect */
.dt-paging-button:hover:not(.disabled) {
    background-color: #e9ecef;
    color: #007bff;
    border-color: #dee2e6;
}

.select2-search__field {
    height: 25px !important;
}
.select2-results__option, .select2-selection__choice__display {
    color: #000 !important;
}
.alert-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 28px;
}
