@import "tailwindcss/base";
@import "./base.css";

@import "tailwindcss/components";
@import "./components.css";

@import "tailwindcss/utilities";

@import "./pages.css";


/* Width */
::-webkit-scrollbar {
    height: 4px;              /* height of horizontal scrollbar â† You're missing this */
    width: 4px;               /* width of vertical scrollbar */
    border: 1px solid #d5d5d5;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}

section {
    margin-bottom: 10px;
}

.close {
    background: transparent;
    border: none;
}

.alert {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 8px;
    border: 1px solid;
}
/* CSS for the loader */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    z-index: 9999; /* Ensure loader appears above other content */
    display: none; /* Initially hidden */
}

/* Loader animation */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px; /* Center vertically */
    margin-left: -60px; /* Center horizontally */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
}

.table th {
    font-weight: 500;
    font-size: 14px;
}
.select2 {
    width: 100% !important;
}
.dt-scroll-body .dataTable thead {
    display: none;
}
.action-container {
    width: 100px;
    display: flex;
}
.action-container button, .action-container a {
    margin-right: 2px;
}
.dt-input {
    height: 26px;
    border: 1px solid #838f83;
    border-radius: 8px;
}
#main-navbar {
    height: 70px;
}
.avatarDefault {
    width: 24px;
    border-radius: 13px;
}
#sidebarMenu {
    background: #fff;
    visibility: visible;
}

body {
    font-size: 16px;
}
h1 {
    font-size: xx-large;
    font-weight: bold;
}
.body-dark-mode {
    background-color: #000 !important;
    color: white !important;
}

.card-dark-mode {
    background-color: #1c1c1c !important;
    color: white !important;
    --mdb-table-bg: #1c1c1c !important;
    border-radius: 9px;
}

.badge-danger {
    background-color: #bf3434;
    color: white;
}
html {
    display: none /*prevent filckering of background theme on switch;*/
}
.badge-warning {
    background-color: #f3a006;
    color: white;
}

.badge-primary {
    background-color: #006fff;
    color: white;
}

.badge-success {
    background-color: #00b23e;
    color: white;
}

.badge-dark {
    background-color: #c87d15;
    color: #ffffff;
}

.list-group-flush>.list-group-item {
    margin: 6px;
    border: none;
}
.list-profile {
    display: flex;
    width: 127px;
}

.list-profile > img {
    margin-right: 16px;
    border-radius: 13px;
    width: 40px;
    height: 40px;
}
thead > tr {
    border-bottom: 1px solid #e0e0e0;
}
.card-dark-mode thead > tr {
    border-bottom: 1px solid rgba(255, 255, 255, .12);
}
.ranksList {
    width: 200px;
}

td {
    vertical-align: middle !important;
}
